.stack-pane {
    -fx-background-image: url("bg.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.list-view {
    -fx-padding: 10px;
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 15px;
    -fx-border-color: #3B4CCA;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
}

.list-cell {
    -fx-background-color: #FFCB05;
    -fx-text-fill: #3B4CCA;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-color: #3B4CCA;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: CENTER_LEFT;
}

.list-cell:selected {
    -fx-background-color: #3B4CCA;
    -fx-text-fill: #FFFFFF;
}

.list-cell:focused {
    -fx-background-color: #FFCB05;
    -fx-border-color: #FF5959;
}

.list-cell {
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 3);
}

.list-cell:hover {
    -fx-background-color: #FFD733; /* Lighter yellow on hover */
    -fx-text-fill: #000000; /* Change text to black on hover for contrast */
}

.text {
    -fx-text-fill: #3a444d;
    -fx-font-weight: bold;
}

.pokemon-name-label {
    -fx-text-fill: #3a444d;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.form {
    -fx-position: absolute;
    -fx-pref-width: 65%;
    -fx-top: 65%;
    -fx-left: 13.5%;
}

.combo-box {
    -fx-padding: 10px;
    -fx-border-color: #000;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #444;
    -fx-effect: dropshadow(two-pass-box, #222, 2, 0, -2, 3),
    dropshadow(two-pass-box, #000, 4, 0, -4, 6);
}

.combo-box .arrow {
    -fx-background-color: white;
    -fx-padding:3px;
}

.text-field {
    -fx-padding: 10px;
    -fx-focus-traversable: false; /* Equivalent to outline: none */
    -fx-border-color: #333;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
    -fx-text-fill: #3a444d;
    -fx-font-size: 1em; /* Adjust with exact sizing if needed */
    -fx-effect: dropshadow(two-pass-box, #888, 3, 0, -3, 4),
    dropshadow(two-pass-box, #333, 5, 0, -5, 7);
}

.buttons {
    -fx-position: absolute;
    -fx-bottom: 10%;
    -fx-left: 50%;
    -fx-translate-x: -57%;
    -fx-hgap: 20px;
}

.button {
    -fx-padding: 10px;
    -fx-border-color: #000;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-font-size: 1em; /* Adjust with exact sizing if needed */
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #444;
    -fx-effect: dropshadow(two-pass-box, #222, 2, 0, -2, 3),
    dropshadow(two-pass-box, #000, 4, 0, -4, 6);
}

.button:pressed {
    -fx-effect: innershadow(two-pass-box, #222, 4, 0, -4, 4);
    -fx-font-size: 0.9em;
}

